@model IEnumerable<KurumsalWeb.Models.Model.Admin>

@{
    ViewBag.Title = "AdminList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminList</h2>

<p>
    @Html.ActionLink("Yeni Əlavə Et", "Create")
</p>
<table class="table table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yetki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yetki)
        </td>
        <td>
            @Html.ActionLink("Yenilə", "Edit", new { id=item.AdminId }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.AdminId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.AdminId })
        </td>
    </tr>
}

</table>
